.main {
  height: 100vh;
  display: flex;
  background-color: whitesmoke;
}

.menu {
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100vw;
  height: 64px;
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: space-around;
}

.title {
  cursor: pointer;
}

.title:hover {
  color : blueviolet;
}

.profile {
  cursor: pointer;
  height: 48px;
  display: flex;
  padding: 0 12px;
  background-color: mediumpurple;
  border-radius: 10px;
}

.profile:hover {
  background-color: blueviolet;
  color: whitesmoke;
}