.main {
  height: 100vh;
  display: flex;
  background-color: whitesmoke;
}

.menu {
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100vw;
  height: 64px;
  display: flex;
  padding: 12px 10vw;
  align-items: center;
  justify-content: space-between;
}

.title {
  cursor: pointer;
  margin-right: 10px;
}
.title:hover {
  color : blueviolet;
}

.button {
  position: relative;
  cursor: pointer;
  height: 48px;
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 12px;
  background-color: mediumpurple;
  border-radius: 10px;
  margin-right: 10px;
  border: solid 1px blanchedalmond;
}
.button:hover {
  background-color: blueviolet;
  color: blanchedalmond;
}

.tooltip {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  font-size: 14px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(120, 120, 120, 0.7);
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
}
.button:hover .tooltip {
  display: block; /* Affiche le tooltip lorsque le bouton est survolé */
}

.modalinput {
  border-radius: 10px;
  border: 1px solid blanchedalmond;
  height: 48px;
  padding: 0 1vw;
  background-color: transparent;
  color: whitesmoke;
  font-weight: bold;
  font-size: 1em;
  text-decoration: none;
  outline: none;
  margin: 10px;
}

.modalinput::placeholder{
  color: whitesmoke;
  font-weight: normal;
}

.avatar {
  height: 64px;
  width :64px;
  overflow: hidden;
  border-radius: 5px;
  margin: 10px;
  opacity: .5;
}

.avatar:hover {
  opacity: 1;
  cursor: pointer;
}